@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0f172a;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-feature-settings: "ss01", "ss02", "cv01", "cv11";
}

@layer base {
  * {
    @apply border-slate-200;
  }
}
